// @import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.container > .card{
  margin-top: 2%;
  margin-bottom: 3%;
}

.comment-container {
  margin-bottom: 3rem;
}

.btn-delete{
  position: absolute;
  right: 1rem;
  color: red;
}

.trash-button{
  height: 20px;
  width: 20px;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
  padding-bottom: 10%;
}

.comments-container{
  width: 30%;
}

.post-textedit{
  height: 350px!important;
}